@model ConrtroleDividas.Models.Dividas

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/Web.css" />


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--Awesome Icons-->>
    <script src="https://kit.fontawesome.com/a89251772b.js"></script>


    <title>Excluir divida</title>
</head>
<body>





    <div class="sidenav">


        <a href="@Url.Action("CadastrarDivida", "GestaoDivida")">
            <i style='font-size:100px' class="far fa-address-book"></i>

        </a>

        <a href="@Url.Action("ListarDividas", "GestaoDivida")">
            <i style='font-size:100px' class="fas fa-list"></i>

        </a>

        <a href="@Url.Action("DetalheDivida", "GestaoDivida")">
            <i style='font-size:100px' class="fas fa-wallet"></i>

        </a>

    </div>


    <div class="content02">


        <div class="form-group">
            @Html.Label("ID", "ID")
            @Html.TextBoxFor(m => m.id, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            @Html.Label("Nome", "Nome")
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.Label("ValorProduto", "Valor Produto")
            @Html.TextBoxFor(m => m.ValorProduto, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.ValorProduto, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("QuantidadeProdutos", "Quantidade de Produtos")
            @Html.TextBoxFor(m => m.QtdeProduto, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.QtdeProduto, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("DescricaoProduto", "Descricao do Produto")
            @Html.TextBoxFor(m => m.DescricaoProduto, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.DescricaoProduto, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.Label("ValorDivida", "Valor Divida")
            @Html.TextBoxFor(m => m.ValorDivida, new { @class = "form-control", @disabled = "true" })
            @Html.ValidationMessageFor(m => m.ValorDivida, "", new { @class = "text-danger" })
        </div>


    



    <form asp-action="ExcluirDivida">
        <input type="submit" value="Excluir" class="btn btn-primary" /> |
        <a asp-action="ListarDividas" class="btn btn-primary">Retornar a lista</a>
    </form>
    </div>
</body>
</html>
